@charset "UTF-8";
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Yeseva+One:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Plus:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,italic&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  line-height: 1;
  color: #4c4c4c;
  font-family: "Lato", sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

.title {
  font-family: "Yeseva One", serif;
  font-size: 36px;
  line-height: 120%;
  color: #cc9900;
}
.title_white {
  color: #fff;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about {
  background: url("../assets/about/img/pattern.png") 50% 0/cover no-repeat, url("../assets/about/img/bg.png") 50% 0/cover no-repeat;
}
.about__content {
  padding: 55px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  padding: 46px 0px 0px 0px;
}
.about__body {
  max-width: 409px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about__title:not(:last-child) {
  margin-bottom: 13px;
}
.about__decor:not(:last-child) {
  margin-bottom: 26px;
}
.about__divider {
  max-width: 100%;
}
.about__text {
  line-height: 150%;
}
.about__text:not(:last-child) {
  margin-bottom: 49px;
}
.about__sign {
  -webkit-transform: translate(16.5%, 0%);
      -ms-transform: translate(16.5%, 0%);
          transform: translate(16.5%, 0%);
}
.about__right {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55%;
          flex: 1 1 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__img {
  max-width: 100%;
}

.ingredients {
  background: url("../assets/ingredients/img/bg.jpg") 50% 0/cover no-repeat;
}
.ingredients__content {
  padding: 100px 0px;
}
.ingredients__body {
  max-width: 48.71%;
  padding: 75px 81px 78px 80px;
  margin: 0px 0px 0px auto;
  background: rgba(0, 0, 0, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.ingredients__title:not(:last-child) {
  margin-bottom: 15px;
}
.ingredients__decor:not(:last-child) {
  margin-bottom: 23px;
}
.ingredients__divider {
  max-width: 100%;
}
.ingredients__text {
  line-height: 1.5;
  color: #fff;
}
.ingredients__text:not(:last-child) {
  margin-bottom: 68px;
}
.ingredients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}
.ingredients__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  height: 110px;
}
.ingredients__img {
  border-radius: 50%;
  border: solid 5px rgba(255, 255, 255, 0.09);
  max-width: 100%;
}

.reviews {
  background: url("../assets/reviews/img/bg.jpg") 50% 0/cover no-repeat;
}
.reviews__content {
  padding: 100px 0px 102px 0px;
}
.reviews__body {
  max-width: 770px;
  padding: 75px 74px 104px 74px;
  margin: 0px auto;
  background: rgba(0, 0, 0, 0.67);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.reviews__title:not(:last-child) {
  margin-bottom: 15px;
}
.reviews__decor:not(:last-child) {
  margin-bottom: 18px;
}
.reviews__divider {
  max-width: 100%;
}
.reviews__text {
  position: relative;
  font-family: "Gentium Book Plus", serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 180%;
  color: #dde0df;
}
.reviews__text:not(:last-child) {
  margin-bottom: 34px;
}
.reviews__text::before {
  content: "“";
  position: absolute;
  top: 0;
  left: -7.2%;
  margin: 1% 0px 0px 0px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 72px;
  line-height: 47%;
  color: #757676;
}
.reviews__label {
  font-size: 18px;
  color: #fff;
}

.reservations {
  background: url("../assets/reservations/img/pattern.png") 50% 0/cover no-repeat, url("../assets/reservations/img/bg.png") 50% 0/cover no-repeat;
}
.reservations__content {
  padding: 100px 0px 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 30px;
}
.reservations__image {
  padding: 0px 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reservations__img {
  max-width: 100%;
}
.reservations__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 15px;
}

.body-reservations {
  padding: 0px 70px 0px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.body-reservations__title:not(:last-child) {
  margin-bottom: 13px;
}
.body-reservations__decor:not(:last-child) {
  margin-bottom: 24px;
}
.body-reservations__divider {
  max-width: 100%;
}
.body-reservations__text {
  line-height: 150%;
}
.body-reservations__text:not(:last-child) {
  margin-bottom: 10px;
}
.body-reservations__form:not(:first-child) {
  margin-top: 32px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
  row-gap: 25px;
}
.form__body:not(:last-child) {
  margin-bottom: 32px;
}
.form__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  padding: 0px 15px;
}
.form__label {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #c9a131;
}
.form__input {
  font-size: 16px;
  min-height: 36px;
  padding: 0px 13px;
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px #c8c6c6;
  width: 100%;
}
.form__input::-webkit-input-placeholder {
  padding: 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__input::-moz-placeholder {
  padding: 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__input:-ms-input-placeholder {
  padding: 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__input::-ms-input-placeholder {
  padding: 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__input::placeholder {
  padding: 0px 2px;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__input:hover {
  border: solid 1px #c89f2d;
}
.form__select {
  font-size: 16px;
  min-height: 36px;
  width: 100%;
  padding: 0px 13px;
  background: rgba(255, 255, 255, 0.5);
  border: solid 1px #c8c6c6;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  text-align: left;
  color: #7c7c7c;
}
.form__select:hover {
  border: solid 1px #c89f2d;
}
.form__option {
  font-family: "Lato", sans-serif;
  font-style: normal;
  color: #4c4c4c;
}
.form__button {
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  padding: 7px 60px 7px 60px;
  border: solid 1px #c89f2d;
  background-color: #c89f2d;
}