/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url('https://fonts.googleapis.com/css?family=Yeseva+One:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Plus:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,italic&display=swap');
@import '_null';

html {
  font-size: 16px;
}

body {
  line-height: 1;
  color: #4c4c4c;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  max-width: 1170px;
  margin: 0px auto;
  padding: 0px 15px;
}

.title {
  font-family: 'Yeseva One', serif;
  font-size: 36px;
  line-height: 120%;
  color: #cc9900;
  // .title_white

  &_white {
    color: #fff;
  }
}

.header {
  // .header__container

  &__container {
  }

  // .header__content

  &__content {
  }
}
.main {
  flex: 1 1 auto;
}

.about {
  background: url('../assets/about/img/pattern.png') 50% 0 / cover no-repeat,
    url('../assets/about/img/bg.png') 50% 0 / cover no-repeat;
  // .about__container

  &__container {
  }

  // .about__content

  &__content {
    padding: 55px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
  }

  // .about__left

  &__left {
    display: flex;
    justify-content: center;
    flex: 1 1 45%;
    padding: 46px 0px 0px 0px;
  }

  // .about__body

  &__body {
    max-width: 409px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .about__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  // .about__decor

  &__decor {
    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  // .about__divider

  &__divider {
    max-width: 100%;
  }

  // .about__text

  &__text {
    line-height: 150%;
    // max-width: 409px;
    &:not(:last-child) {
      margin-bottom: 49px;
    }
  }

  // .about__sign

  &__sign {
    transform: translate(16.5%, 0%);
  }

  // .about__right

  &__right {
    align-self: center;
    flex: 1 1 55%;
    display: flex;
    justify-content: center;
  }

  // .about__image

  &__image {
  }

  // .about__img

  &__img {
    max-width: 100%;
  }
}

.ingredients {
  background: url('../assets/ingredients/img/bg.jpg') 50% 0 / cover no-repeat;
  // .ingredients__container

  &__container {
  }

  // .ingredients__content

  &__content {
    padding: 100px 0px;
  }

  // .ingredients__body

  &__body {
    max-width: 50%;
    padding: 75px 81px 78px 80px;
    margin: 0px 0px 0px auto;
    background: rgba(0, 0, 0, 0.67);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .ingredients__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .ingredients__decor

  &__decor {
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }

  // .ingredients__divider

  &__divider {
    max-width: 100%;
  }

  // .ingredients__text

  &__text {
    line-height: 1.5;
    color: #fff;
    &:not(:last-child) {
      margin-bottom: 68px;
    }
  }

  // .ingredients__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
  }

  // .ingredients__image

  &__image {
    display: flex;
    flex: 0 0 110px;
    height: 110px;
  }

  // .ingredients__img

  &__img {
    border-radius: 50%;
    border: solid 5px rgba(255, 255, 255, 0.09);
    max-width: 100%;
  }
}

.reviews {
  background: url('../assets/reviews/img/bg.jpg') 50% 0 / cover no-repeat;
  // .reviews__container

  &__container {
  }

  // .reviews__content

  &__content {
    padding: 100px 0px 102px 0px;
  }

  // .reviews__body

  &__body {
    max-width: 770px;
    padding: 75px 74px 104px 74px;
    margin: 0px auto;
    background: rgba(0, 0, 0, 0.67);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  // .reviews__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  // .reviews__decor

  &__decor {
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  // .reviews__divider

  &__divider {
    max-width: 100%;
  }

  // .reviews__text

  &__text {
    position: relative;
    font-family: 'Gentium Book Plus', serif;
    font-size: 25px;
    font-weight: bold;
    line-height: 180%;
    color: #dde0df;
    &:not(:last-child) {
      margin-bottom: 34px;
    }
    &::before {
      content: '“';
      position: absolute;
      top: 0;
      left: -7.2%;
      margin: 1% 0px 0px 0px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 72px;
      line-height: 47%;
      color: #757676;
    }
  }

  // .reviews__label

  &__label {
    font-size: 18px;
    color: #fff;
  }
}

.reservations {
  background: url('../assets/reservations/img/pattern.png') 50% 0 / cover
      no-repeat,
    url('../assets/reservations/img/bg.png') 50% 0 / cover no-repeat;
  // .reservations__container

  &__container {
  }

  // .reservations__content

  &__content {
    padding: 100px 0px 100px 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    row-gap: 30px;
  }

  // .reservations__image

  &__image {
    flex: 1 1 25%;
    padding: 0px 15px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  // .reservations__img

  &__img {
    max-width: 100%;
  }

  // .reservations__body

  &__body {
    flex: 1 1 50%;
    padding: 0px 15px;
  }
}

.body-reservations {
  padding: 0px 70px 0px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  //.body-reservations__title

  &__title {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  // .body-reservations__decor

  &__decor {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  // .body-reservations__divider

  &__divider {
    max-width: 100%;
  }

  // .body-reservations__text

  &__text {
    line-height: 150%;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  // .body-reservations__form

  &__form {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  // .form__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
    row-gap: 25px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  // .form__item

  &__item {
    flex: 1 1 50%;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 0px 15px;
  }

  // .form__label

  &__label {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #c9a131;
  }

  // .form__input

  &__input {
    font-size: 16px;
    min-height: 36px;
    padding: 0px 13px;
    // padding: 10px 14px;
    background: rgba(255, 255, 255, 0.5);
    border: solid 1px #c8c6c6;
    width: 100%;
    &::placeholder {
      padding: 0px 2px;
      font-family: 'Open Sans', sans-serif;
      font-style: italic;
      text-align: left;
      color: #7c7c7c;
    }
    &:hover {
      border: solid 1px #c89f2d;
    }
  }

  // .form__select

  &__select {
    font-size: 16px;
    min-height: 36px;
    width: 100%;
    padding: 0px 13px;
    background: rgba(255, 255, 255, 0.5);
    border: solid 1px #c8c6c6;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    text-align: left;
    color: #7c7c7c;
    &:hover {
      border: solid 1px #c89f2d;
    }
  }

  // .form__option

  &__option {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #4c4c4c;
  }

  // .form__button

  &__button {
    cursor: pointer;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 7px 60px 7px 60px;
    border: solid 1px #c89f2d;
    background-color: #c89f2d;
  }
}

.footer {
  // .footer__container

  &__container {
  }
}

// font-family: Georgia, serif;
